/* 
    Document   : 新建机构-导航条样式
    Created on : 2015-7-7, 16:05:51
    Author     : xuesheng
    Description:
        Purpose of the stylesheet follows.
*/
td a{
    color:blue;
    margin:0px 5px; 
}

.shoulib {
    height: 38px;
    line-height: 38px;
    margin: 0 0 10px;
    padding: 10px;
}
.beCenter{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}
span {
    font-family: "MicroSoft YaHei";
    margin: 0;
    padding: 0;
}
.bg2 {
    background: rgba(0, 0, 0, 0) url("/resources/images/jind1.jpg") no-repeat scroll 0 0;
}
.shoulib span {
    background-color: #eaeaea;
    color: #777;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 38px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 150px;
}
.shoulib em {
    display: inline-block;
    height: 38px;
    width: 17px;
}

.shoulib span.hoverps, .shoulib a.hoverps {
    background-color: #ffae00;
    color: #fff;
}

.em {
    display: inline-block;
}
.bg3 {
    background: rgba(0, 0, 0, 0) url("/resources/images/jind2.jpg") no-repeat scroll 0 0;
}
.bg1 {
    background: rgba(0, 0, 0, 0) url("/resources/images/jind3.jpg") no-repeat scroll 0 0;
}

